# Exploratory Data Analysis on RAW data

## Modules

In [1]:
import pandas as pd
import json
import fnmatch
import os
import re

## Variables

In [2]:
PATH_FOLDER_READ='01.Raw data/'
PATH_FOLDER_WRITE='02.Clean data/'

## Functions

In [3]:
def cleanNotes(s):
    s=re.sub(r"\[(.*?)\]",'',s)
    s.strip()
    return s

In [4]:
def cleanDates(s):
    s=re.search(r'\((.*?)\)',s).group(1)
    s.strip()
    return s

## Loop all Json file of folder

In [5]:
df_c = pd.DataFrame()

In [6]:
for file in os.listdir(PATH_FOLDER_READ):
    if fnmatch.fnmatch(file.upper(), '*.JSON'):
        print(file)
        
        # Read file
        with open(PATH_FOLDER_READ+file, 'r') as fp:
            data = json.load(fp)
        
        # Transform data into a DF
        df = pd.DataFrame.from_dict(data[0])

        # Headr on first row (ref https://stackoverflow.com/a/31328974/1008588)
        new_header = df.iloc[0]
        df = df[1:]
        df.columns = new_header
        
        # Clean Wikipedia notes reference (clean up of anything between square brackets)
        df.rename(columns=lambda c: re.sub(r"\[(.*?)\]",'',c), inplace=True)
        
        # Strip spaces in columns header
        df.rename(columns=lambda c: c.strip(), inplace=True)
        
        # Add Season number as new column
        df['No. Season'] = int(file[14:16])
        
        # Concat with existing DF df_c
        df_c= pd.concat([df_c, df])
df=df_c

Episodes_RAW_S10.json
Episodes_RAW_S06.json
Episodes_RAW_S26.json
Episodes_RAW_S30.json
Episodes_RAW_S31.json
Episodes_RAW_S27.json
Episodes_RAW_S07.json
Episodes_RAW_S11.json
Episodes_RAW_S16.json
Episodes_RAW_S01.json
Episodes_RAW_S17.json
Episodes_RAW_S21.json
Episodes_RAW_S34.json
Episodes_RAW_S22.json
Episodes_RAW_S18.json
Episodes_RAW_S02.json
Episodes_RAW_S14.json
Episodes_RAW_S15.json
Episodes_RAW_S03.json
Episodes_RAW_S19.json
Episodes_RAW_S23.json
Episodes_RAW_S28.json
Episodes_RAW_S04.json
Episodes_RAW_S12.json
Episodes_RAW_S32.json
Episodes_RAW_S24.json
Episodes_RAW_S08.json
Episodes_RAW_S09.json
Episodes_RAW_S25.json
Episodes_RAW_S33.json
Episodes_RAW_S13.json
Episodes_RAW_S05.json
Episodes_RAW_S29.json

In [7]:
# reset index
df.reset_index(inplace = True, drop = True)

In [8]:
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
0,204,1,"""Lard of the Dance""",Dominic Polcino,Jane O'Brien,"August 23, 1998 (1998-08-23)",5F20,7[210],10,NaN,NaN
1,205,2,"""The Wizard of Evergreen Terrace""",Mark Kirkland,John Swartzwelder,"September 20, 1998 (1998-09-20)",5F21,7.95[211],10,NaN,NaN
2,206,3,"""Bart the Mother""",Steven Dean Moore,David X. Cohen,"September 27, 1998 (1998-09-27)",5F22,7.35[212],10,NaN,NaN
3,207,4,"""Treehouse of Horror IX""",Steven Dean Moore,Donick CaryLarry DoyleDavid X. Cohen,"October 25, 1998 (1998-10-25)",AABF01,8.5[213],10,NaN,NaN
4,208,5,"""When You Dish Upon a Star""",Pete Michels,Richard Appel,"November 8, 1998 (1998-11-08)",5F19,9[214],10,NaN,NaN

## Manage specific cases

### Delete The Simpsons movie

In [9]:
df.loc[df['Title'] == 'The Simpsons Movie']

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
408,NaN,NaN,The Simpsons Movie,David Silverman,NaN,NaN,NaN,NaN,19,"James L. Brooks, Matt Groening, Al Jean, Ian M...","July 27, 2007 (2007-07-27)"

In [10]:
df = df.drop(df[df['Title'] == 'The Simpsons Movie'].index)

### Episodes made of two parts: 681 and 682

In [11]:
df.loc[df['No.overall'] == '681682']

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
111,681682,1920,"""Warrin' Priests"" (Parts One and Two)",Bob AndersonMatthew Nastuk,Pete Holmes,"April 26, 2020 (2020-04-26)May 3, 2020 (2020-0...",ZABF12ZABF13,1.35[286]1.36[287],31,NaN,NaN

In [12]:
df = df.drop(df[df['No.overall'] == '681682'].index)

In [13]:
newRow={'No.overall':'681',
    'No. inseason':'19',
    'Title':'"Warrin\' Priests" (Parts One)',
    'Directed by':'Bob Anderson',
    'Written by':'Pete Holmes',
    'Original air date':'April 26, 2020 (2020-04-26)',
    'Prod.code':'ZABF12',
    'U.S. viewers(millions)':'1.35[287]',
    'No. Season':'31',
    'Screenplay by':'NaN',
    'Release date(U.S.)':'NaN'}

In [14]:
dn=pd.DataFrame(newRow, index=[0])

In [15]:
df= pd.concat([df, dn])

In [16]:
newRow={'No.overall':'682',
    'No. inseason':'20',
    'Title':'"Warrin\' Priests" (Parts Two)',
    'Directed by':'Matthew Nastuk',
    'Written by':'Pete Holmes',
    'Original air date':'May 03, 2020 (2020-05-03)',
    'Prod.code':'ZABF13',
    'U.S. viewers(millions)':'1.36[288]',
    'No. Season':'31',
    'Screenplay by':'NaN',
    'Release date(U.S.)':'NaN'}

In [17]:
dn=pd.DataFrame(newRow, index=[0])

In [18]:
df= pd.concat([df, dn])

### Episodes made of two parts: 608 and 609

In [19]:
df.loc[df['No.overall'] == '608609']

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
442,608609,1213,"""The Great Phatsby"" (Vol. I & Vol. II)",Chris ClementsTimothy Bailey,Dan GreaneyMatt Selman (part 2 only),"January 15, 2017 (2017-01-15)",WABF04WABF05,6.90[214],28,NaN,NaN

In [20]:
df = df.drop(df[df['No.overall'] == '608609'].index)

In [21]:
newRow={'No.overall':'608',
    'No. inseason':'12',
    'Title':'"The Great Phatsby" (Vol. I)',
    'Directed by':'Chris Clements',
    'Written by':'Dan Greaney',
    'Original air date':'January 15, 2017 (2017-01-15)',
    'Prod.code':'WABF04',
    'U.S. viewers(millions)':'6.90[214]',
    'No. Season':'28',
    'Screenplay by':'NaN',
    'Release date(U.S.)':'NaN'}

In [22]:
dn=pd.DataFrame(newRow, index=[0])

In [23]:
df= pd.concat([df, dn])

In [24]:
newRow={'No.overall':'609',
    'No. inseason':'12',
    'Title':'"The Great Phatsby" (Vol. II)',
    'Directed by':'Timothy Bailey',
    'Written by':'Matt Selman',
    'Original air date':'January 15, 2017 (2017-01-15)',
    'Prod.code':'WABF04',
    'U.S. viewers(millions)':'6.90[214]',
    'No. Season':'28',
    'Screenplay by':'NaN',
    'Release date(U.S.)':'NaN'}

In [25]:
dn=pd.DataFrame(newRow, index=[0])

In [26]:
df= pd.concat([df, dn])

### Episodes made of two parts: 712 and 713

In [27]:
df.loc[df['No.overall'] == '712713']

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
616,712713,67,"""A Serious Flanders"" (Parts 1 & 2)",Debbie Bruce MahanMatthew Faughnan,Cesar Mazariegos,"November 7, 2021 (2021-11-07)November 14, 2021...",QABF21QABF22,3.47[320]1.66[321],33,NaN,NaN

In [28]:
df = df.drop(df[df['No.overall'] == '712713'].index)

In [29]:
newRow={'No.overall':'712',
    'No. inseason':'6',
    'Title':'"A Serious Flanders" (Parts 1)"',
    'Directed by':'Debbie Bruce Mahan',
    'Written by':'Cesar Mazariegos',
    'Original air date':'November 7, 2021 (2021-11-07)',
    'Prod.code':'QABF21',
    'U.S. viewers(millions)':'3.47[320]',
    'No. Season':'33',
    'Screenplay by':'NaN',
    'Release date(U.S.)':'NaN'}

In [30]:
dn=pd.DataFrame(newRow, index=[0])

In [31]:
df= pd.concat([df, dn])

In [32]:
newRow={'No.overall':'713',
    'No. inseason':'7',
    'Title':'"A Serious Flanders" (Parts 2)"',
    'Directed by':'Matthew Faughnan',
    'Written by':'Cesar Mazariegos',
    'Original air date':'November 14, 2021 (2021-11-14)',
    'Prod.code':'QABF22',
    'U.S. viewers(millions)':'1.66[321]',
    'No. Season':'33',
    'Screenplay by':'NaN',
    'Release date(U.S.)':'NaN'}

In [33]:
dn=pd.DataFrame(newRow, index=[0])

In [34]:
df= pd.concat([df, dn])

In [35]:
# reset index
df.reset_index(inplace = True, drop = True)

## Manage Wikipedia notes inside cells

In [36]:
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
0,204,1,"""Lard of the Dance""",Dominic Polcino,Jane O'Brien,"August 23, 1998 (1998-08-23)",5F20,7[210],10,NaN,NaN
1,205,2,"""The Wizard of Evergreen Terrace""",Mark Kirkland,John Swartzwelder,"September 20, 1998 (1998-09-20)",5F21,7.95[211],10,NaN,NaN
2,206,3,"""Bart the Mother""",Steven Dean Moore,David X. Cohen,"September 27, 1998 (1998-09-27)",5F22,7.35[212],10,NaN,NaN
3,207,4,"""Treehouse of Horror IX""",Steven Dean Moore,Donick CaryLarry DoyleDavid X. Cohen,"October 25, 1998 (1998-10-25)",AABF01,8.5[213],10,NaN,NaN
4,208,5,"""When You Dish Upon a Star""",Pete Michels,Richard Appel,"November 8, 1998 (1998-11-08)",5F19,9[214],10,NaN,NaN

In [37]:
df['U.S. viewers(millions)']=df['U.S. viewers(millions)'].apply(str)
df['U.S. viewers(millions)']=df['U.S. viewers(millions)'].apply(cleanNotes)

In [38]:
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
0,204,1,"""Lard of the Dance""",Dominic Polcino,Jane O'Brien,"August 23, 1998 (1998-08-23)",5F20,7,10,NaN,NaN
1,205,2,"""The Wizard of Evergreen Terrace""",Mark Kirkland,John Swartzwelder,"September 20, 1998 (1998-09-20)",5F21,7.95,10,NaN,NaN
2,206,3,"""Bart the Mother""",Steven Dean Moore,David X. Cohen,"September 27, 1998 (1998-09-27)",5F22,7.35,10,NaN,NaN
3,207,4,"""Treehouse of Horror IX""",Steven Dean Moore,Donick CaryLarry DoyleDavid X. Cohen,"October 25, 1998 (1998-10-25)",AABF01,8.5,10,NaN,NaN
4,208,5,"""When You Dish Upon a Star""",Pete Michels,Richard Appel,"November 8, 1998 (1998-11-08)",5F19,9,10,NaN,NaN

In [39]:
df['Original air date']=df['Original air date'].apply(str)
df['Original air date']=df['Original air date'].apply(cleanDates)

## Fix datatype of numeric columns

In [40]:
df['No.overall'] = pd.to_numeric(df['No.overall'])
df['No. inseason'] = pd.to_numeric(df['No. inseason'])
df['No. Season'] = pd.to_numeric(df['No. Season'])

df['U.S. viewers(millions)'] = df['U.S. viewers(millions)'].replace(['TBD'], None)
df['U.S. viewers(millions)'] = df['U.S. viewers(millions)'].replace(['N/A'], None)
df['U.S. viewers(millions)'] = pd.to_numeric(df['U.S. viewers(millions)'])

## Final check

In [41]:
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
0,204,1,"""Lard of the Dance""",Dominic Polcino,Jane O'Brien,1998-08-23,5F20,7.00,10,NaN,NaN
1,205,2,"""The Wizard of Evergreen Terrace""",Mark Kirkland,John Swartzwelder,1998-09-20,5F21,7.95,10,NaN,NaN
2,206,3,"""Bart the Mother""",Steven Dean Moore,David X. Cohen,1998-09-27,5F22,7.35,10,NaN,NaN
3,207,4,"""Treehouse of Horror IX""",Steven Dean Moore,Donick CaryLarry DoyleDavid X. Cohen,1998-10-25,AABF01,8.50,10,NaN,NaN
4,208,5,"""When You Dish Upon a Star""",Pete Michels,Richard Appel,1998-11-08,5F19,9.00,10,NaN,NaN

In [42]:
df.tail()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),No. Season,Screenplay by,Release date(U.S.)
694,682,20,"""Warrin' Priests"" (Parts Two)",Matthew Nastuk,Pete Holmes,2020-05-03,ZABF13,1.36,31,NaN,NaN
695,608,12,"""The Great Phatsby"" (Vol. I)",Chris Clements,Dan Greaney,2017-01-15,WABF04,6.90,28,NaN,NaN
696,609,12,"""The Great Phatsby"" (Vol. II)",Timothy Bailey,Matt Selman,2017-01-15,WABF04,6.90,28,NaN,NaN
697,712,6,"""A Serious Flanders"" (Parts 1)""",Debbie Bruce Mahan,Cesar Mazariegos,2021-11-07,QABF21,3.47,33,NaN,NaN
698,713,7,"""A Serious Flanders"" (Parts 2)""",Matthew Faughnan,Cesar Mazariegos,2021-11-14,QABF22,1.66,33,NaN,NaN

In [43]:
df['Original air date'].unique()

array(['1998-08-23', '1998-09-20', '1998-09-27', '1998-10-25',
       '1998-11-08', '1998-11-15', '1998-11-22', '1998-12-06',
       '1998-12-20', '1999-01-10', '1999-01-17', '1999-01-31',
       '1999-02-07', '1999-02-14', '1999-02-21', '1999-02-28',
       '1999-03-28', '1999-04-04', '1999-04-11', '1999-04-25',
       '1999-05-02', '1999-05-09', '1999-05-16', '1994-09-04',
       '1994-09-11', '1994-09-25', '1994-10-02', '1994-10-09',
       '1994-10-30', '1994-11-06', '1994-11-13', '1994-11-27',
       '1994-12-04', '1994-12-18', '1995-01-08', '1995-01-22',
       '1995-02-05', '1995-02-12', '1995-02-19', '1995-02-26',
       '1995-03-05', '1995-03-19', '1995-04-09', '1995-04-16',
       '1995-04-30', '1995-05-07', '1995-05-14', '1995-05-21',
       '2014-09-28', '2014-10-05', '2014-10-12', '2014-10-19',
       '2014-11-02', '2014-11-09', '2014-11-16', '2014-11-23',
       '2014-12-07', '2015-01-04', '2015-01-11', '2015-01-25',
       '2015-02-08', '2015-02-15', '2015-03-01', '2015-03-08',
       '2015-03-15', '2015-04-19', '2015-04-26', '2015-05-03',
       '2015-05-10', '2015-05-17', '2018-09-30', '2018-10-07',
       '2018-10-14', '2018-10-21', '2018-11-04', '2018-11-11',
       '2018-11-18', '2018-11-25', '2018-12-02', '2018-12-09',
       '2019-01-06', '2019-01-13', '2019-02-10', '2019-02-17',
       '2019-03-03', '2019-03-10', '2019-03-17', '2019-03-24',
       '2019-03-31', '2019-04-07', '2019-04-28', '2019-05-05',
       '2019-05-12', '2019-09-29', '2019-10-06', '2019-10-13',
       '2019-10-20', '2019-11-03', '2019-11-10', '2019-11-17',
       '2019-11-24', '2019-12-01', '2019-12-15', '2020-01-05',
       '2020-02-16', '2020-02-23', '2020-03-01', '2020-03-08',
       '2020-03-15', '2020-03-22', '2020-04-19', '2020-05-10',
       '2020-05-17', '2015-09-27', '2015-10-04', '2015-10-11',
       '2015-10-18', '2015-10-25', '2015-11-08', '2015-11-22',
       '2015-12-06', '2015-12-13', '2016-01-03', '2016-01-10',
       '2016-01-17', '2016-02-14', '2016-02-21', '2016-03-06',
       '2016-03-13', '2016-04-03', '2016-04-10', '2016-04-24',
       '2016-05-08', '2016-05-15', '2016-05-22', '1995-09-17',
       '1995-09-24', '1995-10-01', '1995-10-08', '1995-10-15',
       '1995-10-29', '1995-11-05', '1995-11-19', '1995-11-26',
       '1995-12-03', '1995-12-17', '1996-01-07', '1996-01-14',
       '1996-02-04', '1996-02-11', '1996-02-18', '1996-02-25',
       '1996-03-17', '1996-03-24', '1996-03-31', '1996-04-14',
       '1996-04-28', '1996-05-05', '1996-05-19', '1999-09-26',
       '1999-10-03', '1999-10-24', '1999-10-31', '1999-11-07',
       '1999-11-14', '1999-11-21', '1999-11-28', '1999-12-19',
       '2000-01-09', '2000-01-16', '2000-01-23', '2000-02-06',
       '2000-02-13', '2000-02-20', '2000-02-27', '2000-03-19',
       '2000-04-09', '2000-04-30', '2000-05-07', '2000-05-14',
       '2000-05-21', '2004-11-07', '2004-11-14', '2004-11-21',
       '2004-12-05', '2004-12-12', '2005-01-16', '2005-01-30',
       '2005-02-06', '2005-02-13', '2005-02-20', '2005-03-06',
       '2005-03-13', '2005-03-20', '2005-04-03', '2005-04-17',
       '2005-05-01', '2005-05-08', '2005-05-15', '1989-12-17',
       '1990-01-14', '1990-01-21', '1990-01-28', '1990-02-04',
       '1990-02-11', '1990-02-18', '1990-02-25', '1990-03-18',
       '1990-03-25', '1990-04-15', '1990-04-29', '1990-05-13',
       '2005-09-11', '2005-09-18', '2005-09-25', '2005-11-06',
       '2005-11-13', '2005-11-20', '2005-11-27', '2005-12-11',
       '2005-12-18', '2006-01-08', '2006-01-29', '2006-02-26',
       '2006-03-12', '2006-03-19', '2006-03-26', '2006-04-02',
       '2006-04-09', '2006-04-23', '2006-04-30', '2006-05-07',
       '2006-05-14', '2006-05-21', '2009-09-27', '2009-10-04',
       '2009-10-11', '2009-10-18', '2009-11-15', '2009-11-22',
       '2009-11-29', '2009-12-13', '2010-01-03', '2010-01-10',
       '2010-01-31', '2010-02-14', '2010-02-21', '2010-03-14',
       '2010-03-21', '2010-03-28', '2010-04-11', '2010-04-18',
       '2010-04-25', '2010-05-02', '2010-05-09', '2010-05-16',
       '2010-05-23', '2022-09-25', '2022-10-02', '2022-10-09',
       '2022-10-16', '2022-10-23', '2022-10-30', '2022-11-13',
       '2022-11-20', '2022-11-27', '2022-12-04', '2022-12-11',
       '2023-01-01', '2010-09-26', '2010-10-03', '2010-10-10',
       '2010-11-07', '2010-11-14', '2010-11-21', '2010-11-28',
       '2010-12-05', '2010-12-12', '2011-01-09', '2011-01-16',
       '2011-01-23', '2011-02-13', '2011-02-20', '2011-03-06',
       '2011-03-13', '2011-03-27', '2011-04-10', '2011-05-01',
       '2011-05-08', '2011-05-15', '2011-05-22', '2006-09-10',
       '2006-09-17', '2006-09-24', '2006-11-05', '2006-11-12',
       '2006-11-19', '2006-11-26', '2006-12-10', '2006-12-17',
       '2007-01-07', '2007-01-28', '2007-02-11', '2007-02-18',
       '2007-03-04', '2007-03-11', '2007-03-25', '2007-04-22',
       '2007-04-29', '2007-05-06', '2007-05-13', '2007-05-20',
       '1990-10-11', '1990-10-18', '1990-10-25', '1990-11-01',
       '1990-11-08', '1990-11-15', '1990-11-22', '1990-12-06',
       '1990-12-20', '1991-01-10', '1991-01-24', '1991-01-31',
       '1991-02-07', '1991-02-14', '1991-02-21', '1991-03-07',
       '1991-03-28', '1991-04-11', '1991-04-25', '1991-05-02',
       '1991-05-09', '1991-07-11', '2002-11-03', '2002-11-10',
       '2002-11-17', '2002-11-24', '2002-12-01', '2002-12-15',
       '2003-01-05', '2003-01-12', '2003-02-02', '2003-02-09',
       '2003-02-16', '2003-03-02', '2003-03-09', '2003-03-16',
       '2003-03-30', '2003-04-13', '2003-04-27', '2003-05-04',
       '2003-05-11', '2003-05-18', '2003-11-02', '2003-11-09',
       '2003-11-16', '2003-11-23', '2003-11-30', '2003-12-07',
       '2003-12-14', '2004-01-04', '2004-01-11', '2004-01-25',
       '2004-02-08', '2004-02-15', '2004-02-22', '2004-03-14',
       '2004-03-21', '2004-03-28', '2004-04-18', '2004-04-25',
       '2004-05-02', '2004-05-09', '2004-05-16', '2004-05-23',
       '1991-09-19', '1991-09-26', '1991-10-03', '1991-10-10',
       '1991-10-17', '1991-10-24', '1991-10-31', '1991-11-07',
       '1991-11-14', '1991-11-21', '1991-12-05', '1991-12-26',
       '1992-01-09', '1992-01-23', '1992-02-06', '1992-02-13',
       '1992-02-20', '1992-02-27', '1992-03-12', '1992-03-26',
       '1992-04-09', '1992-04-23', '1992-05-07', '1992-08-27',
       '2011-09-25', '2011-10-02', '2011-10-30', '2011-11-06',
       '2011-11-13', '2011-11-20', '2011-11-27', '2011-12-04',
       '2011-12-11', '2012-01-08', '2012-01-15', '2012-01-29',
       '2012-02-12', '2012-02-19', '2012-03-04', '2012-03-11',
       '2012-03-18', '2012-04-15', '2012-04-29', '2012-05-06',
       '2012-05-13', '2012-05-20', '2016-09-25', '2016-10-02',
       '2016-10-09', '2016-10-16', '2016-10-23', '2016-11-06',
       '2016-11-13', '2016-11-20', '2016-12-04', '2016-12-11',
       '2017-01-08', '2017-02-12', '2017-02-19', '2017-03-05',
       '2017-03-12', '2017-03-19', '2017-04-02', '2017-04-30',
       '2017-05-07', '2017-05-21', '1992-09-24', '1992-10-01',
       '1992-10-08', '1992-10-15', '1992-10-29', '1992-11-03',
       '1992-11-05', '1992-11-12', '1992-11-19', '1992-12-03',
       '1992-12-17', '1993-01-14', '1993-01-21', '1993-02-04',
       '1993-02-11', '1993-02-18', '1993-03-11', '1993-04-01',
       '1993-04-15', '1993-04-29', '1993-05-06', '1993-05-13',
       '2000-11-01', '2000-11-05', '2000-11-12', '2000-11-19',
       '2000-11-26', '2000-12-03', '2000-12-10', '2000-12-17',
       '2001-01-07', '2001-01-14', '2001-02-04', '2001-02-11',
       '2001-02-18', '2001-02-25', '2001-03-04', '2001-03-11',
       '2001-04-01', '2001-04-29', '2001-05-06', '2001-05-13',
       '2001-05-20', '2020-09-27', '2020-10-04', '2020-10-11',
       '2020-11-01', '2020-11-08', '2020-11-15', '2020-11-22',
       '2020-11-29', '2020-12-06', '2020-12-13', '2021-01-03',
       '2021-02-21', '2021-02-28', '2021-03-07', '2021-03-14',
       '2021-03-21', '2021-03-28', '2021-04-11', '2021-04-18',
       '2021-05-09', '2021-05-16', '2021-05-23', '2012-09-30',
       '2012-10-07', '2012-11-04', '2012-11-11', '2012-11-18',
       '2012-11-25', '2012-12-09', '2012-12-16', '2013-01-06',
       '2013-01-13', '2013-01-27', '2013-02-10', '2013-02-17',
       '2013-03-03', '2013-03-10', '2013-03-17', '2013-04-14',
       '2013-04-28', '2013-05-05', '2013-05-12', '2013-05-19',
       '1996-10-27', '1996-11-03', '1996-11-10', '1996-11-17',
       '1996-11-24', '1996-12-01', '1996-12-15', '1996-12-29',
       '1997-01-05', '1997-01-12', '1997-01-19', '1997-02-02',
       '1997-02-07', '1997-02-09', '1997-02-16', '1997-02-23',
       '1997-03-02', '1997-03-16', '1997-04-06', '1997-04-13',
       '1997-04-20', '1997-04-27', '1997-05-04', '1997-05-11',
       '1997-05-18', '1997-09-21', '1997-09-28', '1997-10-19',
       '1997-10-26', '1997-11-02', '1997-11-09', '1997-11-16',
       '1997-11-23', '1997-12-07', '1997-12-21', '1998-01-04',
       '1998-01-11', '1998-02-08', '1998-02-15', '1998-02-22',
       '1998-03-01', '1998-03-08', '1998-03-22', '1998-03-29',
       '1998-04-05', '1998-04-19', '1998-04-26', '1998-05-03',
       '1998-05-10', '1998-05-17', '2013-09-29', '2013-10-06',
       '2013-11-03', '2013-11-10', '2013-11-17', '2013-11-24',
       '2013-12-08', '2013-12-15', '2014-01-05', '2014-01-12',
       '2014-01-26', '2014-03-09', '2014-03-16', '2014-03-23',
       '2014-03-30', '2014-04-06', '2014-04-13', '2014-04-27',
       '2014-05-04', '2014-05-11', '2014-05-18', '2021-09-26',
       '2021-10-03', '2021-10-10', '2021-10-17', '2021-10-24',
       '2021-11-21', '2021-11-28', '2021-12-19', '2022-01-02',
       '2022-02-27', '2022-03-06', '2022-03-13', '2022-03-20',
       '2022-03-27', '2022-04-10', '2022-04-24', '2022-05-01',
       '2022-05-08', '2022-05-15', '2022-05-22', '2001-11-06',
       '2001-11-11', '2001-11-18', '2001-12-02', '2001-12-09',
       '2001-12-16', '2002-01-06', '2002-01-20', '2002-01-27',
       '2002-02-10', '2002-02-17', '2002-02-24', '2002-03-10',
       '2002-03-17', '2002-03-31', '2002-04-07', '2002-04-21',
       '2002-04-28', '2002-05-05', '2002-05-12', '2002-05-19',
       '2002-05-22', '1993-09-30', '1993-10-07', '1993-10-14',
       '1993-10-21', '1993-10-28', '1993-11-04', '1993-11-11',
       '1993-11-18', '1993-12-09', '1993-12-16', '1994-01-06',
       '1994-02-03', '1994-02-10', '1994-02-17', '1994-02-24',
       '1994-03-17', '1994-03-31', '1994-04-14', '1994-04-28',
       '1994-05-05', '1994-05-12', '1994-05-19', '2017-10-01',
       '2017-10-08', '2017-10-15', '2017-10-22', '2017-11-05',
       '2017-11-12', '2017-11-19', '2017-12-03', '2017-12-10',
       '2018-01-07', '2018-01-14', '2018-03-18', '2018-03-25',
       '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
       '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
       '2020-04-26', '2020-05-03', '2017-01-15', '2021-11-07',
       '2021-11-14'], dtype=object)

In [44]:
df['No. Season'].isna().sum()

0

In [45]:
df['No.overall'].isna().sum()

0

In [46]:
df['No. inseason'].isna().sum()

0

In [47]:
df['Original air date'].isna().sum()

0

## Write cleaned data to Json file

In [48]:
df.to_json(PATH_FOLDER_WRITE+'dataset_DDB.json', orient='records', indent=4)